*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  padding: 0px;
  margin: 0px;
}
html, body{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  padding: 7px 60px;
  background-color: teal;
  height: 56px;
}

a{
  color: #ffffff;
  text-decoration: dotted;
  font-weight: bold;
}
a:hover{
  opacity: 0.5;
}

.home{
  font-size: 28px;
}

.nav-link {
  width: 400px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 4px;
  
}
.icon{
  display: none;
}

.bio {
  text-align: center;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.avatar {
  width: 230px;
  border-radius: 5px;
  height: 230px;
  object-fit: cover;
  margin: 70px 50px 0 50px; 
  position: static;
}

h1 {
  color: teal;
  font-size: 40px;
  margin: 20px 0 0 0;
}

#bioinfo {
  font-size: 16px;
  margin: 15px 500px 100px;
  color: #0F0E0E;
  line-height: 1.5;
}

.countryimg img {
width: 30px;
border-radius: 2px; 
padding: 4px 0 0 8px;
}

.information {
  display: flex;
  justify-content: space-between;
  background-color: teal;
  margin: 100px 0 100px 0;
  color: #ffffff;
}

.information .first{
  width: 500px;
  text-decoration: #ffffff;
  padding: 100px 10px 100px 100px;

}

.information .first h2{
  margin-bottom: 50px;
  font-size: 32px;
}

.information .sec {
  width: 550px;
  padding: 100px 210px 100px 0;
  font-size: 1.20em;
}

.information .sec .top {
  padding-bottom: 28px;
}

.information .sec .bottom {
  line-height: 1.8;
}

.box-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.box{
  width: 30%;
  background-color: #636363;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
}

.this {
  height: fit-content;
}

.serv h2{
padding: 0 0 25px 100px;
color: teal;
font-size: 1.8em;
width: 100%;
}

.box h3{
  text-align: center;
  padding: 30px 0 20px 0;
  font-size: 15px;
}

.box p {
  text-align: center;
  padding: 0 30px 40px 30px;
  font-size: 15px;
}

.ending .end {
  background-color: teal;
  color: #ffffff;
  text-align: center;
  height: 300px;
}

.ending .end h3 {
 padding-top: 50px;
 padding-bottom: 20px;
}

.ending .end h2 {
  margin-bottom: 30px;
}


.fa {
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border:#ffffff;
  font-size: 0;
}

.fa:hover {
  opacity: 0.5;
}

.fa-linkedin {
  font-size: 8px;
  padding: 1px;
  background: #1CD6CE; 
  color: teal; 
  margin-right: 20px;
  border-radius: 2px; 
}

.fa-facebook {
  font-size: 8px;
  padding-top: 3px;
  padding-left: 1px;
  padding-right: 1px;
  background: #1CD6CE; 
  color: teal;  
  margin-right: 20px;
  border-radius: 2px;
}

.fa-twitter {
  width: 18px;
  height: 19.5px;
  font-size: 6px;
  padding: 3px 3px 1px 3px;
  font-size: 8px;
  background: #1CD6CE; 
  color: teal;
  margin-right: 15px;
  border-radius: 2px;  
}

.fa-instagram {
  color: #1CD6CE;
  margin: 0;
  padding-bottom: 4px;  
} 

.ending .end p {
  padding-top: 50px;
  font-size: 14px;
}

@media screen and (max-width: 1300px) {
  #bioinfo {
    margin: 0;
  }

  .this{
    height: fit-content;
  }

  .information .first {
    width: 550px;

  }

}

@media screen and (max-width: 1200px){
  .information {
    display: block;
    height: fit-content;
  }

  .information .sec {
  width: 100%;
  padding: 50px 20px 100px 20px;
  text-align: center;
  }

  .information .first {
    width: 100%;
    padding: 100px 20px 100px 20px;
    text-align: center;
  }
  
}

@media screen and (max-width: 768px) {
  .nav-link a{
    display: none;
  }
  .container a.icon {
    float: left;
    display: block;
  }
  .container {
    width:100%;
  }
  .serv h2{
    width: 100%;
    padding-left: 80px;
  }

  .nav-link{
    width: 0;
  }
  .avatar {
    margin-top: 100px;
  }
  h1 {
    font-size: 30px;
  }

  .information {
    display: block;
    text-align: center;
    
  }
  .information .first {
    padding: 30px;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  .information .sec{
    text-align: center;
    margin: 0;
    width: 100%;
  }
  .information .sec h3 {
    font-size: large;
    width: 100%;
  }
  .information .sec .bottom{
    padding-bottom: 30px;
  }
  
  .ending .end{
    width: 100%;
  }
  .ending .end h2{
    width: 100%;
  }

  .box{
    width: 40%;
    display: block;
  }

  .box-services{
    padding: 0 80px 100px 80px;
  }

}

@media screen and (max-width: 414px) {
  .box{
    width: 100%;
  }

  .box-services{
    padding: 0 60px 60px 60px;
  }

  .serv h2{
    font-size: 22px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 375px){
  .box{
    width: 100%;
  }
  .box-services {
    padding: 0 35px 35px 35px;
  }
}